
* {box-sizing: border-box;}

body {
  margin: 10;
  font-family: Arial;
}


.dollar {
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
vertical-align: top;
}

/*--also doubles as currency symbol placement formatter */

.currency-symbol {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
vertical-align: top;
}

.cent {
font-size: 20px;
/*text-decoration: underline; */
vertical-align: top;
}

.flex-container-sec2 mona {
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
vertical-align: top;
}


.flex-item2 span2 {
  color: white;
}

/* buy button section */

.buttona {
    background-color: #4CAF50;
    color: red;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 100px 100px;

    /* rounding corners of button */
    border-radius: 12px;

    -webkit-transition-duration: 0.4s;  Safari
    transition-duration: 0.4s;
    cursor: pointer;
    width: 250;
    height: 100;

    /*    */
    border: none;


  }

  .buttonb {
      background-color: #4CAF50;
      color: red;
      padding: 32px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 60px;
      margin: 100px 100px;

      /* rounding corners of button */
      border-radius: 12px;


      -webkit-transition-duration: 0.4s;  Safari
      transition-duration: 0.4s;
      cursor: pointer;
      width: 250;
      height: 100;
    }


btn1 {
  color:white;
  font-weight:bold;
}


btn1:hover {
    background-color: #070d0f;
    font-weight:bold;
  }


.header {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: red;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  text-decoration: underline;
}

.header-right {
  float: right;
}


.shoemainbacktoothers {
  height: 20px;
  background-image: linear-gradient(to right, #be166e , #ff6200);
  color: white;
}



.container
{
 flex-direction: column;
 height: 30px;
 margin-left: 40px;
 margin-right: 40px;

}

.containerbob
{
 flex-direction: column;
 margin-left: 40px;
 margin-right: 40px;
 height: 100px;
 align-items: center;
 justify-content: center;
}


.linego {
 border-style: solid;

/* color: #9A2A40; */
 color: ffc5d9;
 padding-bottom: 20;
 border-width: 2px;
 border-spacing: 40px;
 line-height: 3;
}

.shopothers {
 background-color: #ffc5d9;
 line-height: 3;
 height: 60px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.shopothers h3 {
  color: brown;
}

.tab {
  font-size: 25px;
  float: left;
/*  overflow: hidden; */
/*  border: 1px solid #ccc;
  background-color: #f1f1f1; */

}

.tabright {
  float: right;
    font-size: 25px;
/*  overflow: hidden; */

   height: 100px;
   width: 300px;
   font-size: 22px;
/*  border: 1px solid #ccc; */
/*  background-color: #f1f1f1; */

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 22px;
/*  transition: 0.3s;
    color: red; */
}

.tabright button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
    font-size: 22px;
/*  transition: 0.3s;
    color: red; */

}

/* Change background color of buttons on hover */
.tab button:hover {
 text-decoration: underline;
/*  background-color: #ddd; */
}

/* test block */
.tabright button:hover {
 text-decoration: underline;
}


/* Create an active/current tablink class */
.tab button.active {
/*  background-color: #ccc; */
}




/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  margin-left: 40px;
  margin-right: 40px;
  height: auto;
/*  border: 1px solid #ccc;
  border-top: none; */
}

.tabcontent h1, h3, p {
  color: red;
}

/*
.tablinks button {
  color: red;
}
*/


.tablinks {
  color: red;
}



.flex-container-sec1 {
  display: flex;
  flex-direction: row;
  height: 475px;
  padding: 30px;
  background-image: linear-gradient(to right, #be166e , #ff6200);
  align-items: center;
  min-height: 24em;
  justify-content: center;


}

.flex-container-sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 375px;
  padding: 30px;
  background-image: linear-gradient(to right, #be166e , #ff6200);
}

.flex-container-sec2  {
  color: white
}

.flex-container-sec2 mon {
  color: white
}

.flex-container-sec2 pre {
font-size: 15px;
  color: brown;
}


.flex-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.flex-item2 {
  width: 37%;
  line-height: 2;
}

.flex-item2 h11 {
  color: white;
  font-size: 35px;
    line-height: 1;
    line-spacing: 2;
}

.flex-item2 h12 {
  color: brown;
  font-size: 15px;
    line-height: 1.6;
<!--  line-spacing: 2;  -->

}

.flex-item2 p11 {
  color: white;
  font-size: 100%;
  line-spacing: 2;
      line-height: 2;
}

.flex-itema {
  padding: 45px;
  align-items: center;
  width: 35%;
  line-height: 1;
}

.flex-itemb {
  padding: 45px;
  align-items: center;
  width: 35%;
  line-height: 1;
}

.flex-itemc {
  padding: 45px;
  align-items: center;
  width: 35%;
  line-height: 1;
}


.flex-item aa {
  color:white;
  font-weight: bold;
  float: left;
}

.flex-item bb {
  color:white;
  font-weight: bold;
  float: right;
}

.flex-item p {
  color:white;
  font-weight: bold;
  line-height: 2
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}




.linego {
 border-style: dashed;
 color: #9A2A40;
 border-width: 1px;
 border-spacing: 40px;
 line-height: 2;
}


.linegosolid {
    border: 2px solid red;
}

.brow {
    color:brown;
    float:right;
    text-decoration: underline;
}


.footer {
  background-color: #FFFFFF;
  padding: 10px;
  height: 140px;
}

bb {
  text-decoration: underline;
}

aa:hover {
  text-decoration: underline;
}

.footera {
  color: red;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.footera aa: {
  text-decoration: none;
}



.buyinfo {
  color: black;
  padding: 2px;
  text-decoration: underline;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}

.copyrightinfo {
  color: black;
  padding: 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}
